<html>
  <head>
    <title>{{ instance.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{ instance.name }}</h1>
    <p>{{ instance.description }}</p>
    <p>{{ instance.price }}</p>
    <button id="buy-button">Buy</button>

    <script type="text/javascript">
      var stripe = Stripe("{{ published_key }}");
      var buyButton = document.getElementById('buy-button');

      buyButton.addEventListener('click', function() {
        fetch('/api/v1/buy/{{ instance.id }}/', { method: 'GET' })
          .then(response => response.json())
          .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
  </body>
</html>
